<h1>All Games</h1>
{{#each games}}
    <div>
        <p>Name: {{this.name}}</p>
        <p>Genre: {{this.genre}}</p>
        {{#if this.releaseDate}}
            <p>Release Date: {{this.releaseDate}}</p>
        {{else}}
            <p>Release Date: N/A</p>
        {{/if}}
        {{#if this.publisher}}
            <p>Publisher Name: {{this.publisher.name}}</p>
            <p>Publisher Location: {{this.publisher.location}}</p>
        {{else}}
            <p>Publisher Name: N/A</p>
            <p>Publisher Location: N/A</p>
        {{/if}}
    </div>
{{/each}}